@import 'tailwindcss';

@theme {
    --text-sm: var(--fs-sm);
  --text-base: var(--fs-base);
  --text-lg: var(--fs-lg);
  --text-xl: var(--fs-xl);
  --text-2xl: var(--fs-2xl);
  --text-3xl: var(--fs-3xl);
  --text-5xl: var(--fs-5xl);
  --spacing: var(--space);
  --radius-*: initial;
  --radius-none: 0;
  --radius-xs: var(--rounded-xs);
  --radius-sm: var(--rounded-sm);
  --radius-md: var(--rounded-md);
  --radius-lg: var(--rounded-lg);
  --radius-xl: var(--rounded-xl);
  --radius-full: 9999px;

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  html {
    scroll-behavior: smooth !important;
  }

  html,
  body {
    max-width: 100%;
    /* overflow-x: hidden; */
  }

  body {
    color: var(--foreground);
    background: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a,
  button {
    cursor: pointer;
  }
}

:root {
  --background: #000000;
  --foreground: #ffffff;
  --header-height: 20vw;
  --primary: #035CEA;
  --secondary: #161A20;
  --dark: #000000;
  --fs-sm: 3.24vw;
  --fs-base: 4vw;
  --fs-lg: 4.5vw;
  --fs-xl: 5vw;
  --fs-2xl: 6vw;
  --fs-3xl: 8vw;
  --fs-5xl: 12vw;
  --space: 1vw;
  --rounded-xs: 4vw;
  --rounded-sm: 7.2vw;
  --rounded-md: 10vw;
  --rounded-lg: 12vw;
  --rounded-xl: 15vw;
}

@media (min-width: 756px) {
  :root {
    --header-height: 4.167vw;
    --fs-sm: 0.675vw;
    --fs-base: 0.833vw;
    --fs-lg: 0.9vw;
    --fs-xl: 1.042vw;
    --fs-2xl: 1.25vw;
    --fs-3xl: 1.667vw;
    --fs-5xl: 2.5vw;
    --space: 0.208vw;
    --rounded-xs: 0.833vw;
    --rounded-sm: 1.5vw;
    --rounded-md: 2.083vw;
    --rounded-lg: 2.5vw;
    --rounded-xl: 3.125vw;
  }
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@utility scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility scrollbar-auto {
  -ms-overflow-style: auto;
  scrollbar-width: auto;
}

.flex-center {
  @apply items-center justify-center;
}

.instagram {
  background: rgb(255, 213, 33);
  background: linear-gradient(25deg, rgba(255, 213, 33, 1) 0%, rgba(255, 208, 32, 1) 7%, rgba(254, 192, 30, 1) 14%, rgba(252, 167, 27, 1) 21%, rgba(250, 131, 22, 1) 28%, rgba(248, 85, 16, 1) 35%, rgba(245, 30, 9, 1) 42%, rgba(243, 0, 5, 1) 49%, rgba(242, 0, 7, 1) 56%, rgba(225, 0, 59, 1) 63%, rgba(211, 0, 103, 1) 70%, rgba(199, 0, 136, 1) 77%, rgba(191, 0, 160, 1) 84%, rgba(187, 0, 175, 1) 91%, rgba(185, 0, 180, 1) 100%);
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: block;
}

.infinite-scroll {
  animation: translateX 45s cubic-bezier(0.25, 0.25, 0.25, 0.25) infinite;
}

.cone {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 50%, 100% 0, 100% 100%);
}

.postBody {
  color: white;

  & *:not(a) {
    color: white !important;
  }

  a {
    color: #1583E4 !important;
  }

  p, ul, ol {
    margin-bottom: max(10px, 2.8vh);
  }

  li:not(:last-of-type) {
    margin-bottom: max(8px, 0.8vh)
  }

  img {
    max-width: 100%;
  }

  ul, ol {
    list-style: decimal;
    padding-left: max(20px, 1.85vh);
  }

  ul {
    padding-left: max(20px, 2vh);
    list-style-type: circle;
  }

  h1 {
    font-size: clamp(32px, max(1.8vw, 4vh), 100px);
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  h2, h3 {
    margin-bottom: max(7px, .7vh);
  }

  h2, h3 {
    font-size: clamp(26px, max(1.68vw, 3vh), 100px);
  }

}

@keyframes translateX {
  from {
    transform: translateX(0)
  }

  to {
    transform: translateX(-50%);
  }
}