[defaults]
host_key_checking = false
forks          	= 100
remote_port    	= 14222
gathering      	= smart
roles_path     	= {{CWD}}/roles
timeout        	= 30
remote_user    	= deploy
log_path       	= {{CWD}}/ansible.log
ansible_managed = ansible
display_args_to_stdout = True
bin_ansible_callbacks = True
nocows = 1
show_custom_stats = True
inventory = {{CWD}}/inventory.yml

[inventory]

[privilege_escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=False

[paramiko_connection]
[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=300s -o PreferredAuthentications=publickey,password -o ConnectionAttempts=100 -o ServerAliveInterval=30
pipelining = true

[persistent_connection]
connect_timeout = 3
connect_retry_timeout = 1

[accelerate]
[selinux]
[colors]
highlight = white
verbose = blue
warn = bright purple
error = red
debug = dark gray
deprecate = purple
skip = cyan
unreachable = red
ok = green
changed = yellow
diff_add = green
diff_remove = red
diff_lines = cyan

[diff]
always = true
